.item {
  display: inline-block;
  width: 250px;
  text-align: center;
}

.done .body  .num,
.done .line {
  background-color: #424fec;
}

.done .body  .num {
  background-color: #5e8fea;
}

.active .body  .num {
  background-color: #bf1e21;
  width:36px;
  height:36px;
  line-height:28px;
  margin-top:-3px;
  font-size:18px;
  border: 4px solid #5e8fea
}
 
.title {
  font-size: 16px;
}
 
.body {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 30px;
}
 
.body .num {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  background-color: #D6DAE6;
}
 
.line {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  width: 100%;
  height: 2px;
  background-color: #D6DAE6;
}
