.App-header {
  background-color: #1c2a48;
  height: 50px;
  color: white;
  margin-bottom: 20px;
  box-shadow: 0 2px 20px 0px rgb(0 0 0 / 40%);
  display:flex;
  align-items: center;
}

.App-header>.App-Title {
	text-align :center;
	font-size: 28px;
	line-height: 50px;
	flex-grow: 2;
}

.App-Logo {
}

.App-header img {
	height :25px;
	margin-left:10px;
}

.App-Login-st {
    width:100px;
    white-space: nowrap;
}

.Login-st {
}

.Login-st img  {
    width:25px;
    border-radius: 50%; 
}

.username {
    width: 50px;
    font-size: 14px;
    line-height: 25px;
    color: #b4abab;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: baseline;
    margin-left:5px;
}

.App-steps {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.form-group {
    margin-bottom: 5px;
}

.mt2 {
	margin-top: 2px !important;
}

.mt3 {
	margin-top: 3px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.data-input {
    overflow: auto;
}

.tablediv .pg {
  font-size:16px
}

.center-layout {
  margin: 0 auto;
}

.center {
  text-align : center;
}

.execel-header.err {
	color:red;
}

.execel-header a {
	margin-left:5px
}

.bind-var {
	margin: 0 auto;
	margin-top: 20px;
	font-size: 14px;
	font-weight: bold;
}

.data-input td {
  max-width: 300px;
  width: 100px;
}

.data-input th:last-child  {
 width: 100px !important;
 padding-left: 5px !important;
}

.tp-list {
  margin: 5px;
}

.tp-info {
 margin : 5px;
}

.tp-info p {
	font-size: 14px;
	line-height: 1.4em;
}

.tp-img-div{
    text-align: center;
}

.tp-img-big{
   max-width : 90%;
   max-height: 60vh;
   border : 1px solid #888;
}

.tp-img {
   height: 50px;
   border : 1px solid #888;
}

.tp-head-item {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.4em;
	margin-right: 5px;
}

.tp-head-variable {
	font-size:14px;
	font-weight:bold;
}

.tp-varialbe-container {
    height: 300px;
    overflow : auto;
}

.tp-variable {
	padding-left: 5px;
    font-size: 14px;
}

tr.tp-variable {
    line-height: 20px;
}

tr.tp-variable th, 
tr.tp-variable td
{
    text-align:left;
}

.sel-tp-win {
}

.lpts-intro {
    text-align: center;
    font-size: 16px;
    width:50%;
    margin: 0 auto;
    line-height: 1.5em;
}

.sel-tp-index {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-evenly;
    height: 40vh;
    align-items: center;
}

.sel-tp-index .sel-tp {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    transition-duration: 0.2s ease;
    border-radius: 10px;
}

.sel-tp-index .sel-tp:hover {
    background-color: #d4d2e5;
}

.sel-tp-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}

.sel-tp-yun {
    background: url(yun.svg) no-repeat;
}

.sel-tp-mine {
    background: url(mine.svg) no-repeat;
}

.sel-tp-local {
    background: url(local.svg) no-repeat;
}


.iconfont {
    font-size: 18px !important;
    height:24px;
    line-height:24px;
}

.iconfont span{
    padding-right: 2px;
    font-size:14px;
}

.sql-conn-panel {
    display: flex;
    height: 100%;
}


.sql-conn-panel .left {
    width : 200px;
    height: 100%;
}

.sql-conn-panel .right {
    border-left: 1px solid #ddd;
    padding-left: 0px;
}

.sql-conn-panel .new_sql {
    margin-top: 20px;
}

.sql-list {
	list-style-type: none;
    padding: 0px;           
    margin: 5px 10px;            
}	

.sql-list>li {
    padding: 3px;
}

.sql-list>li.active {
    background-color: #ddd;
    color:#000;
}

.sql-list>li:hover {
    background-color: #adadad;
    color:#fff;
}

.spirit-download {
    text-align:center;
    color: red;
    font-size: 14px;
    height: 50px;
    font-weight: bold;
 }
 
.progress {
    height:5px;
    border:1px solid green;
}

.progress>div {
    height:5px;
    background-color: red;
}

.print-result {
    font-size:14px;
    margin: 0px 0px 20px 0px
}

.print-result>span {
    margin:2px;
    font-weight: bold;
}
